@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  background-color: black;
  font-family: 'PT Serif', serif;
}

.hack{
  text-decoration: none;
  font-size: 4.2rem;
  padding : 3px;
  color: #431259;
  border-radius:15px;
  background-color: plum;
  margin-top:5px;
}
.dropdown button:hover{
  color:red;
  background-color: rgb(103, 197, 103);
  border-radius:10px;
  padding:5px;
}
.content h1{
  margin-top: 220px;
  text-align: center;
  font-family: 'Acme', sans-serif;
  font-size: 50px;
  color: #73d2de;
  font-size: 5rem;
}

.content h3{
  text-align: center;
  font-family: 'PT Serif', serif;
  font-size: 50px;
  color: white;
  font-weight: bold;
}

button{
  color: #d90368;
  font-family: 'Bangers', cursive;
}

.dropdown{
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: auto;
  background-color: #73d2de;
  font-family: 'PT Serif', serif;
}
.dropdown a:hover{
  background-color: khaki;
}

.products,
.projects{
  position:relative;
}

.projects ul,
.products ul{
  position: absolute;
  background: #ffffff;
  margin-top: 10px;
  width: 200px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  border-radius: 5px;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.4s;
  transform: translateY(-10px);
}

.projects a,
.products a{
  color:#000 ;
  text-decoration: none;
}

.projects li,
.products li{
  width: 100%;
  height: 100%;
   display: flex;
  align-items: center;
  justify-content: center;
}

.projects li:hover,
.products li:hover{
  background-color: #353b4869;
}
.dropdown button,
.home{
  background: none;
  border: none;
  color: #000;
  text-decoration: none;
  font-size: 25px;
  cursor: pointer;
}

.dropdown button:hover,
.home:hover{
  color: red;
}

.projects button:focus+ul,
.products button:focus+ul{
  visibility: visible;
  pointer-events: all;
  transform: translateY(0);
}
.content h1:hover{
  background-color: goldenrod;
  text-decoration: underline;
  color:crimson;
}
